Package: duperemove-dbgsym
Source: duperemove
Version: 0.11-1
Architecture: amd64
Maintainer: Peter Záhradník <peter.zahradnik@znik.sk>
Installed-Size: 347
Depends: duperemove (= 0.11-1)
Section: debug
Priority: extra
Homepage: https://github.com/markfasheh/duperemove
Description: Debug symbols for duperemove
Auto-Built-Package: debug-symbols
Build-Ids: 1596b5c3d307c08d71f3d917a5c5524f2cfd3bb9 371cccd126ae941775b19accfe456a8daaa31082 92da0450e1699f670bdf12710bbd968caeadc547 ffe17c14f892daefc949c07646261899f14db63a
